@import url('https://fonts.googleapis.com/css2? família=Jost&family=Lato&family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 1vw; 
}

header {
    width: 100%;
    height: 17vh;
    background-color: #CFCFCF;
    border-bottom: 4px solid #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
}

header img {
    width: 60vw;
    top: 3vh;
}

#inicio {
    background-image: url(../imagens/imagem-inicio.jpg);
    background-position: center;
    display: flex;
    width: 100%;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

#fundo-inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 94vw;
    height: 60vh;
    background: rgba(207, 207, 207, 0.8);
    border: 2px solid #000000;
    border-radius: 70px;
}

#inicio-titulo {
    color: #000000;
    font-family: Jost, Lato, arial;
    font-size: 10rem;
}

#fundo-inicio p {
    text-align: center;
    font-family: Jost, Lato, arial;
    font-size: 5rem;
    margin: 0 20vw;
    line-height: 4vh;
}

#fundo-inicio button {
    border: 6px solid #000000;
    border-radius: 50px;
    padding: 3vh 7vw;
    background: rgba(27, 27, 27, 0.01);
    font-family: Lato, arial;
    font-size: 5rem;
    cursor: pointer;
}

/* menu hamburguer inicio */

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 8.2vh;
    left: 8.2vw;
    width: 26px;
    height: 36px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 10vw;
    height: 5px;
    background-color: #616161;
    transition-duration: .25s;
    border-radius: 5px;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    position: absolute;
    top: 0;
    left: -100%;
    width: 300px;
    height: 80%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    border-radius: 5px;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  /* menu hamburguer final */

  #sobre { 
    border-top: 5px solid #fff;
    width: 100%;
    height: 160vh;
    background-image: url(../imagens/imagem-sobre.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #fundo-sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 92vw;
    height: 150vh;
    background: rgba(217, 217, 217, 0.8);
    border: 5px solid #000000;
    border-radius: 70px;
  }

  #titulo-fundo-sobre{
    border-bottom: 1px solid #000;
  }

#titulo-fundo-sobre h1 {
    font-family: Jost, Lato, arial;
    font-style: normal;
    font-size: 8rem;
    line-height: 36px;
    font-weight: bolder;
    padding-top: 2vh;
    padding-bottom: 8vh;
    
  }

  #itens-fundo-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    width: 75vw;
    height: 80vh;
    background: rgba(207, 207, 207, 0.65);
    border: 2px solid #000000;
    border-radius: 140px;
  }

  #fundo-sobre p {
    font-family: Jost, Lato, arial;
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 4vh;
    text-align: center;
    margin: 0 10vw;
  }

  #itens-fundo-sobre h2 {
    font-size: 8rem;
    font-family: Jost, Lato, arial;
  }

  #dowloads {
    border-top: 5px solid #fff;
    width: 100%;
    height: 250vh;
    background-image: url(../imagens/imagem-dowloads.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

  #fundo-dowloads {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 92vw;
    height: 230vh;
    background: rgba(207, 207, 207, 0.65);
    border: 2px solid #000000;
    border-radius: 80px;

  }

  #fundo-dowloads-titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
  }

  #fundo-dowloads-titulos h1 {
    font-family: Jost, Lato, arial;
    font-style: normal;
    font-size: 10rem;
  }

  #fundo-dowloads-titulos h2 {
    font-family: Jost, Lato, arial;
    font-weight: 400;
    font-size: 8rem;
    border-bottom: 1px solid #000;
    padding-bottom: 7vh;
  }

  #fundo-dowloads-itens {
    width: 80vw;
    height: 190vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vh;
  }

  #dowload-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 170vh;
    background: rgba(253, 253, 253, 0.75);
    border: 5px solid #000000;
    border-radius: 70px;
  }

  #dowload-item p {
    font-family: Jost, Lato, arial;
    font-weight: 400;
    font-size: 6rem;
  }

  #dowload-item button {
    width: 112px;
    height: 56px;
    background: #000000;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-family: Lato, arial;
  }









 